//Required for bootstrap icons
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/' !default;

// Bootstrap overrides
$text-primary:      #444444 !default;
$text-secondary:    #FFFFFF !default;
$text-third:        #BEBEBE !default;

$color-primary:     #222222 !default;
$color-secondary:   #4C4C4C !default;
$color-third:       #9A9A9A !default;
$color-white:       #FFFFFF !default;
