@import "../styles/variables.scss";

body {
    margin: 0px;
    padding: 0px;
}

.content{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

footer {
    padding-bottom: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: $text-secondary;    
    &:hover { // ampersand for concatenating selectors together
        color: $text-third;
    }
}

.navbar {
    background-color: $text-primary;
    border-bottom: 1px solid $text-primary;
}

.active {
    border-bottom: 1px solid $text-third;
    &:hover {
        color: $text-secondary !important;
    }
}

.navbar-brand{
    max-width: 40px;
    padding: 0 0 0 0;
}

.fa {
    padding: 2px;
}