<div class="row center">
  <div class="col-md-12">
    <h3>Welcome to my event sourcing demonstration</h3>

    <p>This application demonstrates Event Sourcing on the basis of a simple retail application. You can find the underlying
      code on my <a target="_blank" href="https://github.com/anytoe/EasyEventSourcing">Github Account</a>.
    </p>

    <div>
      <ul>
        <li>Add products with the
          <i class="fa fa-plus-square-o"></i> button to your basket.</li>
        <li>Edit the product price or description.
          <i class="fa fa-edit"></i>
        </li>
        <li>Add
          <i class="fa fa-plus-square-o"></i> more products.</li>
        <li>Check your basket
          <i class="fa fa-shopping-basket"></i> and use the arrow buttons to travel back and forth to any point in time.</li>
      </ul>
    </div>
  </div>
</div>